.section-title {
    font-size: 1.5em;
    font-weight: 500;
    margin: 1em 0;
}
.sub-product {
    display: flex;
    gap: 3em;
}
.sub-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 11em;
    height: 11em;
    padding: 1em;
    border-radius: 10px;
}
.sub-items:nth-child(1) {
    background-color: #ffa3a3;
}
.sub-items:nth-child(2) {
    background-color: #ff94eb;
}
.sub-items:nth-child(3) {
    background-color: #c6d8fb;
}
.sub-items:nth-child(4) {
    background-color: #85ffb1;
}
.sub-item-title {
    color: white;
}
