@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 14px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}
.container-lg {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.menu {
    display: flex;
}
.menu li {
    display: flex;
    align-items: center;
    max-width: 110px;
    margin: 0 1em;
}
a {
    color: white;
}
